In [1]:
import pandas as pd
from assembly_tools import load_experimental_grid, format_table, extract_raw_performance

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from hydra import initialize, compose
from omegaconf import OmegaConf

### Assembly of experimental results 2

In [40]:
# load default params. They can be changed however you want.
with initialize(version_base=None, config_path="config"):
    cfg = compose(config_name='extract.yaml')
    print(cfg)
general_params =  ["resolution_value", "ds_name", "method_hps.max_lag"]
hp_stack = []
performance_stack = []
scoring = 'Max individual F1'
cfg.ds_order = ["random_5"]

{'metrics': ['Max Acc thresh', 'Max Acc', 'Max individual Acc thresh', 'Max individual Acc', 'Null Acc', 'Max F1 thresh', 'Max F1', 'Max individual F1 thresh', 'Max individual F1', 'Null F1', 'AUROC', 'Individual AUROC', 'Null AUROC', 'runtime'], 'hp_list': ['data_preprocess.resolution', 'data_preprocess.normalize', 'label_path', 'method.max_lag', 'method.var_absolute_values', 'method.filter_mode', 'method.architecture'], 'rename': {'resolution_value': 'data_preprocess.resolution', 'method_hps.var_absolute_values': 'method.var_absolute_values', 'method_hps.filter_mode': 'method.filter_mode', 'method_hps.max_lag': 'method.max_lag', 'method_hps.cp_architecture': 'method.architecture', 'ds_name': 'label_path', 'normalize': 'data_preprocess.normalize', 'window_data_month_value': 'data_preprocess.subset_month', 'window_data_year_value': 'data_preprocess.subset_year'}, 'ds_order': ['close_3', 'close_5', 'root_cause_3', 'root_cause_5', '1_random_3', '1_random_5', 'confounder_3', 'confounder_5', 'random_3', 'random_5', 'disjoint_10'], 'data_path': '/home/datasets4/stein/rivers/paper_result_storage/new_runs/', 'exp': 'exp1/', 'method_name': 'combo', 'save_path': 'grid_export_'}

In [41]:
for name in ["reverse", "cross", "combo", "var_", "varlingam","pcmci","dyno","cp"]:
    data = pd.read_csv("grid_export_exp2/" + name + ".csv", index_col=0)
    res = ["data_path",  "data_preprocess.subset_year"]
    formatted = format_table(data,cfg, scoring= scoring, restriction=res)
    lines = extract_raw_performance(formatted,cfg,scoring,name="", restriction=res)
    lines.columns = [name]
    hp_stack.append(formatted)
    performance_stack.append(lines)

Fail: ('resources/rivers_flood.csv', '2021', 'random_5')
Fail: ('resources/rivers_flood.csv', '2021', 'random_5')
Fail: ('resources/rivers_flood.csv', '2021', 'random_5')
Fail: ('resources/rivers_flood.csv', '2021', 'random_5')
Fail: ('resources/rivers_flood.csv', '2021', 'random_5')
Fail: ('resources/rivers_flood.csv', '2021', 'random_5')
Fail: ('resources/rivers_flood.csv', '2021', 'random_5')
Fail: ('resources/rivers_flood.csv', '2021', 'random_5')

In [51]:
hp_stack[-2].T

,2024-11-22 10:01:50.8508,2024-11-25 11:46:41.3909,2024-11-22 02:30:26.0550
Max individual F1,0.691835,0.494512,0.707216
data_preprocess.resolution,12H,12H,12H
data_preprocess.normalize,False,False,False
label_path,random_5,random_5,random_5
method.max_lag,5,3,3
method.filter_mode,NaN,NaN,NaN
method.architecture,transformer,transformer,transformer
data_path,resources/rivers_ts_east_germany.csv,resources/rivers_ts_east_germany.csv,resources/rivers_flood.csv
data_preprocess.subset_year,False,2021,False
data_preprocess.subset_month,[],10,[]

In [42]:
pd.concat(performance_stack,axis=1)

,reverse,cross,combo,var_,varlingam,pcmci,dyno,cp
_resources/rivers_ts_east_germany.csv-2021,0.636681,0.512241,0.624228,0.704915,0.58635,0.580214,0.494512,0.530792
_resources/rivers_ts_east_germany.csv-False,0.636681,0.610808,0.622012,0.684465,0.613842,0.498137,0.691835,0.548164
_resources/rivers_flood.csv-False,0.567248,0.593368,0.596208,0.676528,0.619771,0.533264,0.707216,0.60005

In [ ]:
TODO: RUN CDMI. COnfirm performance via DYNOTEARS. Done.

In [12]:
name = "cross"
data = pd.read_csv("grid_export_exp2/" + name + ".csv", index_col=0)
res = ["data_path",  "data_preprocess.subset_year"]
formatted = format_table(data,cfg, scoring= scoring, restriction=res)
lines = extract_raw_performance(formatted,cfg,scoring,name="Var", restriction=res)
hp_stack.append(formatted)
performance_stack.append(lines)

Fail: ('resources/rivers_flood.csv', '2021', 'random_5')

In [13]:
name = "combo"
data = pd.read_csv("grid_export_exp2/" + name + ".csv", index_col=0)
res = ["data_path",  "data_preprocess.subset_year"]
formatted = format_table(data,cfg, scoring= scoring, restriction=res)
lines = extract_raw_performance(formatted,cfg,scoring,name="Var", restriction=res)
hp_stack.append(formatted)
performance_stack.append(lines)

Fail: ('resources/rivers_flood.csv', '2021', 'random_5')

In [14]:
name = "var_"
data = pd.read_csv("grid_export_exp2/" + name + ".csv", index_col=0)
res = ["data_path",  "data_preprocess.subset_year"]
formatted = format_table(data,cfg, scoring= scoring, restriction=res)
lines = extract_raw_performance(formatted,cfg,scoring,name="Var", restriction=res)
hp_stack.append(formatted)
performance_stack.append(lines)

Fail: ('resources/rivers_flood.csv', '2021', 'random_5')

In [15]:
name = "varlingam"
data = pd.read_csv("grid_export_exp2/" + name + ".csv", index_col=0)
res = ["data_path",  "data_preprocess.subset_year"]
formatted = format_table(data,cfg, scoring= scoring, restriction=res)
lines = extract_raw_performance(formatted,cfg,scoring,name="Var", restriction=res)
hp_stack.append(formatted)
performance_stack.append(lines)

Fail: ('resources/rivers_flood.csv', '2021', 'random_5')

In [16]:
name = "pcmci"
data = pd.read_csv("grid_export_exp2/" + name + ".csv", index_col=0)
res = ["data_path",  "data_preprocess.subset_year"]
formatted = format_table(data,cfg, scoring= scoring, restriction=res)
lines = extract_raw_performance(formatted,cfg,scoring,name="Var", restriction=res)
hp_stack.append(formatted)
performance_stack.append(lines)

Fail: ('resources/rivers_flood.csv', '2021', 'random_5')

In [18]:
name = "dyno"
data = pd.read_csv("grid_export_exp2/" + name + ".csv", index_col=0)
res = ["data_path",  "data_preprocess.subset_year"]
formatted = format_table(data,cfg, scoring= scoring, restriction=res)
lines = extract_raw_performance(formatted,cfg,scoring,name="Var", restriction=res)
hp_stack.append(formatted)
performance_stack.append(lines)

Fail: ('resources/rivers_flood.csv', '2021', 'random_5')

In [ ]:
name = "var_"
data = pd.read_csv("grid_export_exp2/" + name + ".csv", index_col=0)
res = ["data_path",  "data_preprocess.subset_year"]
formatted = format_table(data,cfg, scoring= scoring, restriction=res)
lines = extract_raw_performance(formatted,cfg,scoring,name="Var", restriction=res)
hp_stack.append(formatted)
performance_stack.append(lines)

Fail: ('resources/rivers_flood.csv', '2021', 'random_5')

In [ ]:
name = "var_"
data = pd.read_csv("grid_export_exp2/" + name + ".csv", index_col=0)
res = ["data_path",  "data_preprocess.subset_year"]
formatted = format_table(data,cfg, scoring= scoring, restriction=res)
lines = extract_raw_performance(formatted,cfg,scoring,name="Var", restriction=res)
hp_stack.append(formatted)
performance_stack.append(lines)

Fail: ('resources/rivers_flood.csv', '2021', 'random_5')

In [19]:
lines = extract_raw_performance(formatted,cfg,scoring,name="Var", restriction=res)

In [10]:
formatted

,Max individual F1,data_preprocess.resolution,data_preprocess.normalize,label_path,method.max_lag,method.var_absolute_values,method.filter_mode,data_path,data_preprocess.subset_year,data_preprocess.subset_month
2024-11-21 15:36:03.1146,0.676528,15min,False,random_5,5,False,NaN,resources/rivers_flood.csv,False,[]
2024-11-21 17:53:40.9758,0.684465,12H,False,random_5,3,True,NaN,resources/rivers_ts_east_germany.csv,False,[]
2024-11-25 14:50:38.4779,0.704915,1H,False,random_5,3,False,NaN,resources/rivers_ts_east_germany.csv,2021,10

In [ ]:

res = None
formatted = format_table(data,cfg, scoring= scoring, restriction=[res] if res else [])
lines = extract_raw_performance(formatted,cfg,scoring,name="RP", restriction=res)
hp_stack.append(formatted)
performance_stack.append(lines)

In [ ]:
params = general_params + ["method_hps.filter_mode","normalize"]
test_runs(data.T, cfg.metrics, params)
formatted = format_table(data,cfg, params,scoring=scoring, restriction=["method_hps.filter_mode"])
extract_raw_performance(formatted,cfg,scoring,name=name, restriction="method_hps.filter_mode")
formatted["method"] = name
hp_stack.append(formatted)
performance_stack.append(performance_stack)

,Max Acc thresh,Max Acc,Max individual Acc thresh,Max individual Acc,Null Acc,Max F1 thresh,Max F1,Max individual F1 thresh,Max individual F1,Null F1,...,runtime,data_preprocess.resolution,data_preprocess.normalize,label_path,method.max_lag,method.var_absolute_values,method.filter_mode,data_path,data_preprocess.subset_year,data_preprocess.subset_month
2024-11-21 15:47:56.3683,39.950770,0.799813,10.859613,0.799860,0.799813,2.832109,0.333606,0.943374,0.346249,0.333593,...,0 days 00:11:42.728880,6H,True,random_5,5,True,NaN,resources/rivers_flood.csv,False,[]
2024-11-25 14:35:38.8720,11.190000,0.810168,2.290542,0.861594,0.799813,16.264662,0.577035,3.770303,0.679123,0.333593,...,0 days 00:10:33.740972,15min,False,random_5,3,True,NaN,resources/rivers_ts_east_germany.csv,2021,10
2024-11-21 16:18:49.0342,18.099992,0.799813,5.445093,0.801566,0.799813,6.149066,0.340559,1.793113,0.368759,0.333593,...,0 days 00:05:35.805164,12H,True,random_5,3,False,NaN,resources/rivers_flood.csv,False,[]
2024-11-21 21:29:21.4656,52.212957,0.803413,36.887087,0.857293,0.799813,0.575390,0.570560,52.710562,0.670658,0.333593,...,0 days 01:59:08.642793,24H,False,random_5,5,False,NaN,resources/rivers_ts_east_germany.csv,False,[]
2024-11-21 15:43:22.9224,25.770195,0.799813,7.709756,0.800304,0.799813,2.212028,0.333593,0.967838,0.347800,0.333593,...,0 days 00:08:08.914163,6H,True,random_5,3,True,NaN,resources/rivers_flood.csv,False,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-21 16:03:54.8382,2.500307,0.799813,0.457100,0.824264,0.799813,1.812317,0.342576,0.389950,0.440559,0.333593,...,0 days 00:01:11.736166,12H,True,random_5,3,True,NaN,resources/rivers_ts_east_germany.csv,False,[]
2024-11-25 22:46:47.1239,17.703180,0.816106,50.559879,0.866971,0.799813,982.751713,0.601128,111.274471,0.691722,0.333593,...,0 days 07:51:19.542806,12H,False,random_5,3,False,NaN,resources/rivers_ts_east_germany.csv,2021,10
2024-11-21 16:24:25.9625,36.456633,0.799813,9.410896,0.800888,0.799813,6.224191,0.335155,1.927738,0.352269,0.333593,...,0 days 00:09:40.145598,12H,True,random_5,5,False,NaN,resources/rivers_flood.csv,False,[]
2024-11-25 14:38:38.6024,8.340000,0.799813,2.482985,0.799860,0.799813,1.265330,0.333853,0.508572,0.351609,0.333593,...,0 days 00:02:54.917074,6H,True,random_5,5,True,NaN,resources/rivers_ts_east_germany.csv,2021,10
2024-11-21 21:08:22.1236,61.840704,0.803226,35.915906,0.857901,0.799813,0.575933,0.571385,42.310365,0.666713,0.333593,...,0 days 01:55:47.437992,24H,False,random_5,3,False,NaN,resources/rivers_ts_east_germany.csv,False,[]

In [89]:
data = load_experimental_grid(mypath=p, method_name="var_").T

In [94]:
data.columns

Index(['Max Acc thresh', 'Max Acc', 'Max individual Acc thresh',
       'Max individual Acc', 'Null Acc', 'Max F1 thresh', 'Max F1',
       'Max individual F1 thresh', 'Max individual F1', 'Null F1', 'AUROC',
       'Individual AUROC', 'Null AUROC', 'sample_path', 'data_path',
       'full_graph_path', 'save_path', 'eval_set', 'ds_name',
       'resolution_value', 'subsample_value', 'data_preprocess.subset_year',
       'data_preprocess.subset_month', 'interpolation', 'normalize',
       'save_full_out', 'subsample_strategy', 'var_test_window', 'restrict_to',
       'parallel', 'remove_diagonal', 'method_hps.method',
       'method_hps.map_to_summary_graph', 'method_hps.var_absolute_values',
       'method_hps.reverse_physical', 'method.filter_mode',
       'method_hps.max_lag', 'runtime', 'accuracy_steps', 'label_path',
       'map_to_summary_graph', 'index_col', 'dt_preprocess', 'method.name',
       'method.max_lag', 'method.var_absolute_values',
       'data_preprocess.resolution', 'data_preprocess.interpolate',
       'data_preprocess.subset', 'data_preprocess.subsample',
       'data_preprocess.normalize'],
      dtype='object')

In [92]:
for x in cfg.rename:
    if x in data.columns:
        print("renaming..", x)
        if cfg.rename[x] in data.columns:
            data.loc[data[cfg.rename[x]].isnull(), cfg.rename[x]] = data.loc[
                data[cfg.rename[x]].isnull(), x
            ]
        else:
            data.rename(columns={x: cfg.rename[x]}, inplace=True)

renaming.. resolution_value
renaming.. method_hps.var_absolute_values
renaming.. method_hps.filter_mode
renaming.. method_hps.max_lag
renaming.. ds_name
renaming.. normalize
renaming.. window_data_month_value
renaming.. window_data_year_value

In [95]:
data["data_preprocess.subset_month"] = data["data_preprocess.subset_month"].astype(str)

In [76]:
control = data[
        [x for x in data.columns if ((x not in cfg.metrics) and (x not in cfg.hp_list))]
    ]
control = control.T[control.nunique() > 1]

In [77]:
control

,2024-11-21 15:47:56.3683,2024-11-25 14:35:38.8720,2024-11-21 16:18:49.0342,2024-11-21 21:29:21.4656,2024-11-21 15:43:22.9224,2024-11-21 15:50:05.5885,2024-11-21 15:21:33.1526,2024-11-21 15:28:44.7500,2024-11-21 15:54:45.2703,2024-11-21 18:13:28.5963,...,2024-11-26 12:46:25.6972,2024-11-21 16:17:01.0281,2024-11-21 15:17:39.7299,2024-11-25 17:11:47.7036,2024-11-25 14:39:03.5942,2024-11-21 16:03:54.8382,2024-11-25 22:46:47.1239,2024-11-21 16:24:25.9625,2024-11-25 14:38:38.6024,2024-11-21 21:08:22.1236
data_path,resources/rivers_flood.csv,resources/rivers_ts_east_germany.csv,resources/rivers_flood.csv,resources/rivers_ts_east_germany.csv,resources/rivers_flood.csv,resources/rivers_flood.csv,resources/rivers_ts_east_germany.csv,resources/rivers_flood.csv,resources/rivers_flood.csv,resources/rivers_flood.csv,...,resources/rivers_ts_east_germany.csv,resources/rivers_ts_east_germany.csv,resources/rivers_ts_east_germany.csv,resources/rivers_ts_east_germany.csv,resources/rivers_ts_east_germany.csv,resources/rivers_ts_east_germany.csv,resources/rivers_ts_east_germany.csv,resources/rivers_flood.csv,resources/rivers_ts_east_germany.csv,resources/rivers_ts_east_germany.csv
subset_year,False,2021,False,False,False,False,False,False,False,False,...,2021,False,False,2021,2021,False,2021,False,2021,False
subset_month,[],10,[],[],[],[],[],[],[],[],...,10,[],[],10,10,[],10,[],10,[]

In [78]:
# Whatever remains here should come from inconsistencies.
print("Validate! The following additional columns have non unique values:")
for x in control.T.columns:
    print(control.T[x].value_counts())

Validate! The following additional columns have non unique values:
data_path
resources/rivers_ts_east_germany.csv    80
resources/rivers_flood.csv              40
Name: count, dtype: int64
subset_year
False    80
2021     40
Name: count, dtype: int64
subset_month
[]    80
10    40
Name: count, dtype: int64

In [56]:
relevant_hps

['data_preprocess.resolution',
 'data_preprocess.normalize',
 'label_path',
 'method.max_lag',
 'method.var_absolute_values',
 'method.filter_mode']

In [79]:
relevant_hps = [x for x in cfg.hp_list if x in data.columns]
# label path parsing
str_data_path = data["label_path"].str.contains("/")
data.loc[str_data_path, "label_path"] = [
    x[3] for x in data[str_data_path]["label_path"].str.split("/").values
]
data = data[cfg.metrics + [x for x in cfg.hp_list if x in data.columns]]

In [80]:
data

,Max Acc thresh,Max Acc,Max individual Acc thresh,Max individual Acc,Null Acc,Max F1 thresh,Max F1,Max individual F1 thresh,Max individual F1,Null F1,AUROC,Individual AUROC,Null AUROC,runtime,data_preprocess.resolution,data_preprocess.normalize,label_path,method.max_lag,method.var_absolute_values,method.filter_mode
2024-11-21 15:47:56.3683,39.95077,0.799813,10.859613,0.79986,0.799813,2.832109,0.333606,0.943374,0.346249,0.333593,0.209486,0.201539,0.5,0 days 00:11:42.728880,6H,True,random_5,5,True,None
2024-11-25 14:35:38.8720,11.19,0.810168,2.290542,0.861594,0.799813,16.264662,0.577035,3.770303,0.679123,0.333593,0.839006,0.840356,0.5,0 days 00:10:33.740972,15min,False,random_5,3,True,None
2024-11-21 16:18:49.0342,18.099992,0.799813,5.445093,0.801566,0.799813,6.149066,0.340559,1.793113,0.368759,0.333593,0.350604,0.335985,0.5,0 days 00:05:35.805164,12H,True,random_5,3,False,None
2024-11-21 21:29:21.4656,52.212957,0.803413,36.887087,0.857293,0.799813,0.57539,0.57056,52.710562,0.670658,0.333593,0.83278,0.836065,0.5,0 days 01:59:08.642793,24H,False,random_5,5,False,None
2024-11-21 15:43:22.9224,25.770195,0.799813,7.709756,0.800304,0.799813,2.212028,0.333593,0.967838,0.3478,0.333593,0.240919,0.226032,0.5,0 days 00:08:08.914163,6H,True,random_5,3,True,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-21 16:03:54.8382,2.500307,0.799813,0.4571,0.824264,0.799813,1.812317,0.342576,0.38995,0.440559,0.333593,0.514212,0.510303,0.5,0 days 00:01:11.736166,12H,True,random_5,3,True,None
2024-11-25 22:46:47.1239,17.70318,0.816106,50.559879,0.866971,0.799813,982.751713,0.601128,111.274471,0.691722,0.333593,0.830018,0.822034,0.5,0 days 07:51:19.542806,12H,False,random_5,3,False,None
2024-11-21 16:24:25.9625,36.456633,0.799813,9.410896,0.800888,0.799813,6.224191,0.335155,1.927738,0.352269,0.333593,0.275069,0.26059,0.5,0 days 00:09:40.145598,12H,True,random_5,5,False,None
2024-11-25 14:38:38.6024,8.34,0.799813,2.482985,0.79986,0.799813,1.26533,0.333853,0.508572,0.351609,0.333593,0.259232,0.249511,0.5,0 days 00:02:54.917074,6H,True,random_5,5,True,None
2024-11-21 21:08:22.1236,61.840704,0.803226,35.915906,0.857901,0.799813,0.575933,0.571385,42.310365,0.666713,0.333593,0.824773,0.830031,0.5,0 days 01:55:47.437992,24H,False,random_5,3,False,None

In [59]:

print("Dropping duplicates:")
print(len(data))
#Runtime will never match...
data = data.drop_duplicates(subset=[x for x in list(data.columns) if x != "runtime"])
print(len(data))

Dropping duplicates:
120
120

In [17]:
from hydra import initialize, compose
from omegaconf import OmegaConf

,sample_path,data_path,full_graph_path,save_path,eval_set,ds_name,resolution_value,subsample_value,window_data_year_value,window_data_month_value,...,var_test_window,restrict_to,parallel,remove_diagonal,method_hps.method,method_hps.map_to_summary_graph,method_hps.var_absolute_values,method_hps.reverse_physical,method_hps.filter_mode,method_hps.max_lag
2024-11-21 15:47:56.3683,datasets/,resources/rivers_flood.csv,resources/rivers_east_germany.p,results/,flood_G,random_5,6H,1,False,[],...,720,False,False,True,var,max,True,True,None,5
2024-11-25 14:35:38.8720,datasets/,resources/rivers_ts_east_germany.csv,resources/rivers_east_germany.p,results/,flood_G,random_5,15min,1,2021,10,...,720,False,False,True,var,max,True,True,None,3
2024-11-21 16:18:49.0342,datasets/,resources/rivers_flood.csv,resources/rivers_east_germany.p,results/,flood_G,random_5,12H,1,False,[],...,720,False,False,True,var,max,False,True,None,3
2024-11-21 21:29:21.4656,datasets/,resources/rivers_ts_east_germany.csv,resources/rivers_east_germany.p,results/,flood_G,random_5,24H,1,False,[],...,720,False,False,True,var,max,False,True,None,5
2024-11-21 15:43:22.9224,datasets/,resources/rivers_flood.csv,resources/rivers_east_germany.p,results/,flood_G,random_5,6H,1,False,[],...,720,False,False,True,var,max,True,True,None,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-21 16:03:54.8382,datasets/,resources/rivers_ts_east_germany.csv,resources/rivers_east_germany.p,results/,flood_G,random_5,12H,1,False,[],...,720,False,False,True,var,max,True,True,None,3
2024-11-25 22:46:47.1239,datasets/,resources/rivers_ts_east_germany.csv,resources/rivers_east_germany.p,results/,flood_G,random_5,12H,1,2021,10,...,720,False,False,True,var,max,False,True,None,3
2024-11-21 16:24:25.9625,datasets/,resources/rivers_flood.csv,resources/rivers_east_germany.p,results/,flood_G,random_5,12H,1,False,[],...,720,False,False,True,var,max,False,True,None,5
2024-11-25 14:38:38.6024,datasets/,resources/rivers_ts_east_germany.csv,resources/rivers_east_germany.p,results/,flood_G,random_5,6H,1,2021,10,...,720,False,False,True,var,max,True,True,None,5
2024-11-21 21:08:22.1236,datasets/,resources/rivers_ts_east_germany.csv,resources/rivers_east_germany.p,results/,flood_G,random_5,24H,1,False,[],...,720,False,False,True,var,max,False,True,None,3

In [11]:
data['window_data_year_value'].value_counts()

window_data_year_value
False    80
2021     40
Name: count, dtype: int64

In [56]:
#complete
hps = sorted(["data_path", "resolution_value", "method_hps.filter_mode","normalize", 'window_data_month_value', 'window_data_year_value'])
combo = load_method_results(mypath=p, method_name="combo_")
print(test_runs(combo.astype(str), metrics, hps))
combo_style = style_table(combo,order,name="RPCC", scoring= sc, restriction=["data_path","window_data_year_value"])
combo_style

(True, True, 120)
Fail: ('random_5', 'resources/rivers_flood.csv', 2021)

                                                           random_5
RPCC_resources/rivers_flood.csv False            0.5962076181571273
RPCC_resources/rivers_ts_east_germany.csv False  0.6220118435405954
RPCC_resources/rivers_ts_east_germany.csv 2021   0.6242280549433424

In [57]:
#complete
hps = sorted(["data_path", "resolution_value", "method_hps.filter_mode", 'window_data_month_value', 'window_data_year_value'])
reverse = load_method_results(mypath=p,method_name="reverse_")
print(test_runs(reverse.astype(str), metrics, hps))
reverse_style = style_table(reverse,order,name="RP", scoring =sc, restriction=["data_path", "window_data_year_value"])
reverse_style

(True, True, 45)
Fail: ('random_5', 'resources/rivers_flood.csv', 2021)

                                                         random_5
RP_resources/rivers_ts_east_germany.csv 2021   0.6366812113656434
RP_resources/rivers_ts_east_germany.csv False  0.6366812113656434
RP_resources/rivers_flood.csv False            0.5672484546257337

In [58]:
#complete
hps = sorted(["data_path", "resolution_value", "method_hps.filter_mode", 'window_data_month_value', 'window_data_year_value'])
cross = load_method_results(mypath=p, method_name="cross_")
print(test_runs(cross.astype(str), metrics, hps))

cross_style = style_table(cross,order,name="CC", scoring =sc, restriction=["data_path", "window_data_year_value"])
cross_style

(True, True, 30)
Fail: ('random_5', 'resources/rivers_flood.csv', 2021)

                                                         random_5
CC_resources/rivers_ts_east_germany.csv False  0.6108076251835017
CC_resources/rivers_ts_east_germany.csv 2021   0.5122412572622952
CC_resources/rivers_flood.csv False            0.5933683583052447

In [59]:
#Complete
hps = sorted(["resolution_value", "method_hps.max_lag","method_hps.var_absolute_values","normalize", "data_path", "window_data_year_value",'window_data_month_value'])
var = load_method_results(mypath=p,method_name="var_")
print(test_runs(var.astype(str), metrics, hps))

var_style = style_table(var,order,name="VAR", scoring =sc, restriction=["data_path", "window_data_year_value"])
var_style

(True, True, 120)
Fail: ('random_5', 'resources/rivers_flood.csv', 2021)

                                                random_5
VAR_resources/rivers_flood.csv False            0.676528
VAR_resources/rivers_ts_east_germany.csv False  0.684465
VAR_resources/rivers_ts_east_germany.csv 2021   0.704915

In [60]:
# Complete
hps = sorted(["resolution_value", "method_hps.max_lag","normalize", "data_path", "window_data_year_value",'window_data_month_value'])
dyno = load_method_results(mypath=p,method_name="dyno")
print(test_runs(dyno.astype(str), metrics, hps))
dyno_style = style_table(dyno,order,name="Dynotears", scoring =sc, restriction=["data_path", "window_data_year_value"])
dyno_style

(True, True, 60)
Fail: ('random_5', 'resources/rivers_flood.csv', 2021)

                                                    random_5
Dynotears_resources/rivers_ts_east_germany.csv ...  0.691835
Dynotears_resources/rivers_ts_east_germany.csv ...  0.494512
Dynotears_resources/rivers_flood.csv False          0.707216

In [61]:
# Complete
hps = sorted(["resolution_value","normalize","method_hps.max_lag", "data_path", "window_data_year_value",'window_data_month_value'])
varl = load_method_results(mypath=p,method_name="varlingam")
print(test_runs(varl.astype(str), metrics, hps))
varl_style = style_table(varl,order,name="Varlingam", scoring =sc, restriction=["data_path", "window_data_year_value"])
varl_style

(True, True, 60)
Fail: ('random_5', 'resources/rivers_flood.csv', 2021)

                                                    random_5
Varlingam_resources/rivers_ts_east_germany.csv ...  0.613842
Varlingam_resources/rivers_ts_east_germany.csv ...   0.58635
Varlingam_resources/rivers_flood.csv False          0.619771

In [62]:
# Complete
hps = sorted(["resolution_value","normalize","method_hps.max_lag", "data_path", "window_data_year_value",'window_data_month_value'])
pcmci = load_method_results(mypath=p,method_name="pcmci")
print(test_runs(pcmci.astype(str), metrics, hps))
pcmci_style = style_table(pcmci,order,name="PCMCI", scoring =sc, restriction=["data_path", "window_data_year_value"])
pcmci_style

(True, True, 60)
Fail: ('random_5', 'resources/rivers_flood.csv', 2021)

                                                  random_5
PCMCI_resources/rivers_ts_east_germany.csv False  0.498137
PCMCI_resources/rivers_ts_east_germany.csv 2021   0.580214
PCMCI_resources/rivers_flood.csv False            0.533264

In [63]:
hps = sorted(["resolution_value","normalize", "data_path", "window_data_year_value",'window_data_month_value','method_hps.cp_architecture','method_hps.batch_size'])
cp = load_method_results(mypath=p,method_name="cp_")
print(test_runs(cp.astype(str), metrics, hps))
cp_style = style_table(cp,order,name="cp_", scoring =sc, restriction=["data_path", "window_data_year_value"])
cp_style

(True, True, 60)
Fail: ('random_5', 'resources/rivers_flood.csv', 2021)

                                                random_5
cp__resources/rivers_ts_east_germany.csv False  0.548164
cp__resources/rivers_ts_east_germany.csv 2021   0.530792
cp__resources/rivers_flood.csv False             0.60005

In [64]:
# CDMI
#cdmi = load_method_results(method_name="cdmi", hp_relevant =["resolution_value", "ds_name"])
#cdmi_style = style_table(cdmi,order,name="cdmi", scoring =sc)

In [66]:
tables = [cross_style.T,reverse_style.T,combo_style.T, var_style.T, dyno_style.T,varl_style.T,pcmci_style.T, cp_style.T]

In [67]:
for x in tables: 
    x.index = [x.columns[0].split("/")[0].replace("_resources", "")]
    x.columns = [y.split("/")[1] for y in x.columns]

In [68]:
tables[0]

,rivers_ts_east_germany.csv False,rivers_ts_east_germany.csv 2021,rivers_flood.csv False
CC,0.6108076251835017,0.5122412572622952,0.5933683583052447

In [69]:
out = pd.concat([cross_style,reverse_style,combo_style, var_style, dyno_style,varl_style,pcmci_style, cp_style]).astype(float)

In [70]:
out = pd.concat(tables).astype(float).round(3)

In [72]:
out = out[out.columns[[1,0,2]]]

In [73]:
out.columns = ["Full TS", "No Rain", "Flood"]

In [74]:
out

           Full TS  No Rain  Flood
CC           0.512    0.611  0.593
RP           0.637    0.637  0.567
RPCC         0.624    0.622  0.596
VAR          0.705    0.684  0.677
Dynotears    0.495    0.692  0.707
Varlingam    0.586    0.614  0.620
PCMCI        0.580    0.498  0.533
cp_          0.531    0.548  0.600

### Join to latex table

In [75]:


style = out.style.highlight_max(axis=1,  props='color:black;font-weight:bold')
style = style.format("{:.2f}")
latex_str = style.to_latex(convert_css=True)
display(HTML(style.to_html()))
print(latex_str)

\begin{tabular}{lrrr}
 & Full TS & No Rain & Flood \\
CC & 0.51 & \color{black} \bfseries 0.61 & 0.59 \\
RP & \color{black} \bfseries 0.64 & \color{black} \bfseries 0.64 & 0.57 \\
RPCC & \color{black} \bfseries 0.62 & 0.62 & 0.60 \\
VAR & \color{black} \bfseries 0.70 & 0.68 & 0.68 \\
Dynotears & 0.49 & 0.69 & \color{black} \bfseries 0.71 \\
Varlingam & 0.59 & 0.61 & \color{black} \bfseries 0.62 \\
PCMCI & \color{black} \bfseries 0.58 & 0.50 & 0.53 \\
cp_ & 0.53 & 0.55 & \color{black} \bfseries 0.60 \\
\end{tabular}