In [1]:
import pandas as pd
from assembly_tools import load_method_results, style_table, test_runs
from IPython.display import display, HTML

In [2]:
%load_ext autoreload
%autoreload 2

### Assembly of experimental results 2

In [54]:
order  = ["random_5"]
sc = 'Max individual F1'
p  = "/home/datasets4/stein/rivers/paper_result_storage/new_runs/exp2/"

In [55]:
metrics = [
    'Max Acc thresh',
    'Max Acc',
    'Max individual Acc thresh',
    'Max individual Acc',
    'Null Acc',
    'Max F1 thresh',
    'Max F1',
    'Max individual F1 thresh',
    'Max individual F1',
    'Null F1',
    'AUROC',
    'Individual AUROC',
    "runtime"
]

In [56]:
#complete
hps = sorted(["data_path", "resolution_value", "method_hps.filter_mode","normalize", 'window_data_month_value', 'window_data_year_value'])
combo = load_method_results(mypath=p, method_name="combo_")
print(test_runs(combo.astype(str), metrics, hps))
combo_style = style_table(combo,order,name="RPCC", scoring= sc, restriction=["data_path","window_data_year_value"])
combo_style

(True, True, 120)
Fail: ('random_5', 'resources/rivers_flood.csv', 2021)

                                                           random_5
RPCC_resources/rivers_flood.csv False            0.5962076181571273
RPCC_resources/rivers_ts_east_germany.csv False  0.6220118435405954
RPCC_resources/rivers_ts_east_germany.csv 2021   0.6242280549433424

In [57]:
#complete
hps = sorted(["data_path", "resolution_value", "method_hps.filter_mode", 'window_data_month_value', 'window_data_year_value'])
reverse = load_method_results(mypath=p,method_name="reverse_")
print(test_runs(reverse.astype(str), metrics, hps))
reverse_style = style_table(reverse,order,name="RP", scoring =sc, restriction=["data_path", "window_data_year_value"])
reverse_style

(True, True, 45)
Fail: ('random_5', 'resources/rivers_flood.csv', 2021)

                                                         random_5
RP_resources/rivers_ts_east_germany.csv 2021   0.6366812113656434
RP_resources/rivers_ts_east_germany.csv False  0.6366812113656434
RP_resources/rivers_flood.csv False            0.5672484546257337

In [58]:
#complete
hps = sorted(["data_path", "resolution_value", "method_hps.filter_mode", 'window_data_month_value', 'window_data_year_value'])
cross = load_method_results(mypath=p, method_name="cross_")
print(test_runs(cross.astype(str), metrics, hps))

cross_style = style_table(cross,order,name="CC", scoring =sc, restriction=["data_path", "window_data_year_value"])
cross_style

(True, True, 30)
Fail: ('random_5', 'resources/rivers_flood.csv', 2021)

                                                         random_5
CC_resources/rivers_ts_east_germany.csv False  0.6108076251835017
CC_resources/rivers_ts_east_germany.csv 2021   0.5122412572622952
CC_resources/rivers_flood.csv False            0.5933683583052447

In [59]:
#Complete
hps = sorted(["resolution_value", "method_hps.max_lag","method_hps.var_absolute_values","normalize", "data_path", "window_data_year_value",'window_data_month_value'])
var = load_method_results(mypath=p,method_name="var_")
print(test_runs(var.astype(str), metrics, hps))

var_style = style_table(var,order,name="VAR", scoring =sc, restriction=["data_path", "window_data_year_value"])
var_style

(True, True, 120)
Fail: ('random_5', 'resources/rivers_flood.csv', 2021)

                                                random_5
VAR_resources/rivers_flood.csv False            0.676528
VAR_resources/rivers_ts_east_germany.csv False  0.684465
VAR_resources/rivers_ts_east_germany.csv 2021   0.704915

In [60]:
# Complete
hps = sorted(["resolution_value", "method_hps.max_lag","normalize", "data_path", "window_data_year_value",'window_data_month_value'])
dyno = load_method_results(mypath=p,method_name="dyno")
print(test_runs(dyno.astype(str), metrics, hps))
dyno_style = style_table(dyno,order,name="Dynotears", scoring =sc, restriction=["data_path", "window_data_year_value"])
dyno_style

(True, True, 60)
Fail: ('random_5', 'resources/rivers_flood.csv', 2021)

                                                    random_5
Dynotears_resources/rivers_ts_east_germany.csv ...  0.691835
Dynotears_resources/rivers_ts_east_germany.csv ...  0.494512
Dynotears_resources/rivers_flood.csv False          0.707216

In [61]:
# Complete
hps = sorted(["resolution_value","normalize","method_hps.max_lag", "data_path", "window_data_year_value",'window_data_month_value'])
varl = load_method_results(mypath=p,method_name="varlingam")
print(test_runs(varl.astype(str), metrics, hps))
varl_style = style_table(varl,order,name="Varlingam", scoring =sc, restriction=["data_path", "window_data_year_value"])
varl_style

(True, True, 60)
Fail: ('random_5', 'resources/rivers_flood.csv', 2021)

                                                    random_5
Varlingam_resources/rivers_ts_east_germany.csv ...  0.613842
Varlingam_resources/rivers_ts_east_germany.csv ...   0.58635
Varlingam_resources/rivers_flood.csv False          0.619771

In [62]:
# Complete
hps = sorted(["resolution_value","normalize","method_hps.max_lag", "data_path", "window_data_year_value",'window_data_month_value'])
pcmci = load_method_results(mypath=p,method_name="pcmci")
print(test_runs(pcmci.astype(str), metrics, hps))
pcmci_style = style_table(pcmci,order,name="PCMCI", scoring =sc, restriction=["data_path", "window_data_year_value"])
pcmci_style

(True, True, 60)
Fail: ('random_5', 'resources/rivers_flood.csv', 2021)

                                                  random_5
PCMCI_resources/rivers_ts_east_germany.csv False  0.498137
PCMCI_resources/rivers_ts_east_germany.csv 2021   0.580214
PCMCI_resources/rivers_flood.csv False            0.533264

In [63]:
hps = sorted(["resolution_value","normalize", "data_path", "window_data_year_value",'window_data_month_value','method_hps.cp_architecture','method_hps.batch_size'])
cp = load_method_results(mypath=p,method_name="cp_")
print(test_runs(cp.astype(str), metrics, hps))
cp_style = style_table(cp,order,name="cp_", scoring =sc, restriction=["data_path", "window_data_year_value"])
cp_style

(True, True, 60)
Fail: ('random_5', 'resources/rivers_flood.csv', 2021)

                                                random_5
cp__resources/rivers_ts_east_germany.csv False  0.548164
cp__resources/rivers_ts_east_germany.csv 2021   0.530792
cp__resources/rivers_flood.csv False             0.60005

In [64]:
# CDMI
#cdmi = load_method_results(method_name="cdmi", hp_relevant =["resolution_value", "ds_name"])
#cdmi_style = style_table(cdmi,order,name="cdmi", scoring =sc)

In [66]:
tables = [cross_style.T,reverse_style.T,combo_style.T, var_style.T, dyno_style.T,varl_style.T,pcmci_style.T, cp_style.T]

In [67]:
for x in tables: 
    x.index = [x.columns[0].split("/")[0].replace("_resources", "")]
    x.columns = [y.split("/")[1] for y in x.columns]

In [68]:
tables[0]

,rivers_ts_east_germany.csv False,rivers_ts_east_germany.csv 2021,rivers_flood.csv False
CC,0.6108076251835017,0.5122412572622952,0.5933683583052447

In [69]:
out = pd.concat([cross_style,reverse_style,combo_style, var_style, dyno_style,varl_style,pcmci_style, cp_style]).astype(float)

In [70]:
out = pd.concat(tables).astype(float).round(3)

In [72]:
out = out[out.columns[[1,0,2]]]

In [73]:
out.columns = ["Full TS", "No Rain", "Flood"]

In [74]:
out

           Full TS  No Rain  Flood
CC           0.512    0.611  0.593
RP           0.637    0.637  0.567
RPCC         0.624    0.622  0.596
VAR          0.705    0.684  0.677
Dynotears    0.495    0.692  0.707
Varlingam    0.586    0.614  0.620
PCMCI        0.580    0.498  0.533
cp_          0.531    0.548  0.600

### Join to latex table

In [75]:


style = out.style.highlight_max(axis=1,  props='color:black;font-weight:bold')
style = style.format("{:.2f}")
latex_str = style.to_latex(convert_css=True)
display(HTML(style.to_html()))
print(latex_str)

\begin{tabular}{lrrr}
 & Full TS & No Rain & Flood \\
CC & 0.51 & \color{black} \bfseries 0.61 & 0.59 \\
RP & \color{black} \bfseries 0.64 & \color{black} \bfseries 0.64 & 0.57 \\
RPCC & \color{black} \bfseries 0.62 & 0.62 & 0.60 \\
VAR & \color{black} \bfseries 0.70 & 0.68 & 0.68 \\
Dynotears & 0.49 & 0.69 & \color{black} \bfseries 0.71 \\
Varlingam & 0.59 & 0.61 & \color{black} \bfseries 0.62 \\
PCMCI & \color{black} \bfseries 0.58 & 0.50 & 0.53 \\
cp_ & 0.53 & 0.55 & \color{black} \bfseries 0.60 \\
\end{tabular}